body{
    padding: 1rem;
    background-color: antiquewhite;
}

section > div {
    width: 80%;
    margin: 1rem auto;
}

button{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 3px;
    background-color: white;
}